@media only screen and (min-width: 45em)
{
    main
    {
        display: grid;
        grid-template-rows: repeat(5, minmax(0, 1fr));
        grid-template-columns: repeat(3, minmax(0, 1fr));
        max-width: 550px;
    }
    main img
    {
        
        width: 600px;
        height: 200px;
    }
    #hero
    {
        width: 650px;
        height: 200px;
        grid-row: 1/2;
        grid-column: 1/3;
    }
    #hero a
    {
        top: 65%;
        right: 10%;
    }
    #news
    {
        width: 500px;
        grid-row: 2/3;
        grid-column: 1/3;
    }
    #news div
    {
        padding: 0em;
        left: 30%;
        top: 40%;
        font-size: 1.2em;
    }
    .spotl
    {
        grid-row: 3/4;
        grid-column: 1/3;
        width: 580px;
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        text-align: center;
    }
    .spotl img
    {
        width: 250px;
        object-fit: cover;
    }
    .spotl h2
    {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .spotl p
    {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #sl11
    {
        z-index: 1;
        top: 15%;
        right: 10%;
    }
    #slp1
    {
        grid-column: 1/2;
        top: 66%;
    }
    #slp11
    {
        grid-column: 1/2;
        top: 75%;
    }
    #sl22
    {
        grid-column: 2/3;
        right: 10%;
    }
    #slp2
    {
        grid-column: 2/3;
        grid-row: 1;
        top: 63%;
    }
    #slp22
    {
        grid-column: 2/3;
        grid-row: 1;
        top: 71%;
    }
    #join
    {
        display: block;
        width: 650px;
        grid-row: 4/5;
        grid-column: 1/3;
    }
    #join a
    {
        position: absolute;
        z-index: 1;
        height: 30px;
        width: 100px;
        text-align: center;
        left: 40%;
        top: 15%;
    }
    #join a:hover
    {
        background-color: #3C1518;
    }
    #join div
    {
        position: absolute;
        z-index: 1;
        text-align: center;
        top: 50%;
        left: 5%;
        
    }
    #event
    {
        width: 300px;
        grid-row: 5/6;
        grid-column: 1/3;
    }
    #event a
    {
        width: 300px;
        height: 170px;
        bottom: 25%;
    }
    #event p
    {
        padding-left: 2em;
    }
    #event img
    {
        width: 100%;
        padding: 0;
        padding-left: .5em;
    }
    #weather
    {
        width: 250px;
        height: 200px;
        grid-row: 5/6;
        grid-column: 3/4;
    }
    #weather h2
    {
        width: 240px;
    }
    #temp
    {
        display: block;
        width: 220px;
        text-align: center;
        padding: 1em;
    }
    #windspeed
    {
        width: 220px;
    }
    #windchill
    {
        width: 240px;
    }
    #sl2
    {
        grid-column: 2/3;
    }
    
    /* Footer */
    footer
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #address
    {
        margin: auto;
    }
    #address a
    {
        width: 150px;
    }
    #address p
    {
        padding-left: .5em;
        padding-right: .5em;
    }
    #contact_info
    {
        margin: auto;
    }
    #more_info
    {
        grid-column: 1/4;
    }
    #copyr
    {
        display: inline;
    }
    #name
    {
        display: inline;
    }
    #project
    {
        display: inline;
    }
    #updated
    {
        display: block;
    }

    /* discover */
    #discover
    {
        max-width: 600px;
    }

    /* join */

    #join-h2
    {
        grid-row: 1/2;
        grid-column: 1/2;
        max-height: 500px;
        width: 550px;
    }
    .join_boxes
    {
        display: block;
        grid-row: 2/5;
        grid-column: 1/2;
        margin: auto;
    }
    table
    {
        display: block;
        grid-row: 5;
        grid-column: 1/4;
        height: 250px;
        width: 500px;
        background-color: #DBB68F;
    }
    /* directory */
    /* list view */
    .listFilter
    {
        width: 500px;
    }
}