html
{
    font-family: "Kaushan Script", Helvetica, cursive;
}
header
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(13, 62, 102);
    justify-self: center;
    justify-items: center; 
    align-items: center;
    padding: 1em;
    box-shadow: 2px 2px 10px;
    border-radius: 1em;
}
h1
{
    color: white;
}
main
{
    border-style: none;
    border-color: white;
    font-family: Lobster, cursive;
}
footer
{
    background-color: rgb(13, 62, 102);
    padding-left: 7em;
    padding-right: 7em;
    border-radius: 1em;
    box-shadow: 2px 2px 10px;
}
footer p
{
    color: white;
    font-size: 1em;
    padding: 0.2em;
}