@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster&display=swap');

html
{
    font-family: "Kaushan Script", Helvetica, cursive   ;
}
header
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(13, 62, 102);
    justify-self: center;
    justify-items: center; 
    align-items: center;
    padding: 1em;
    box-shadow: 5px 5px 30px;
    border-radius: 1em;
}
header img
{
    box-shadow: 5px 5px 30px;
}
header h1
{
    margin: 1em;
    color: white;
    font-size: 2em;
}
body
{
    display: grid;
}
#description
{
    background-color: rgb(70, 130, 180, 0.3);
    padding: 2em;
    border-radius: 1em;
    line-height: 1.5;
}
main
{
    justify-self: center;
    text-decoration: underline;
    font-family: Lobster, cursive;
    border-style: double;
    border-color: steelblue;
    padding-left: 4em;
    padding-right: 4em;
    line-height: 2;
}
footer
{
    background-color: rgb(13, 62, 102);
    justify-self: center;
    
    padding-left: 7em;
    padding-right: 7em;
    border-radius: 1em;
    box-shadow: 5px 5px 30px;
}
footer p
{
    color: white;
    font-size: 1.3em;
}